<launch>
  <!-- Arguments -->
  <arg name="cmd_vel_topic" default="/mavros/setpoint_velocity/cmd_vel_unstamped" />
  <arg name="odom_topic" default="/odom/filtered" />
  <arg name="move_forward_only" default="false"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <rosparam file="$(find explore_lite)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find explore_lite)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find explore_lite)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find explore_lite)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find explore_lite)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find explore_lite)/config/teb_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
  </node>

<node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
  <param name="robot_base_frame" value="base_link"/>
  <param name="costmap_topic" value="/rtabmap/grid_map"/>
  <param name="costmap_updates_topic" value="/rtabmap/grid_map_updates"/>
  <param name="visualize" value="true"/>
  <param name="planner_frequency" value="0.33"/>
  <param name="progress_timeout" value="30.0"/>
  <param name="potential_scale" value="3.0"/>
  <param name="orientation_scale" value="0.0"/>
  <param name="gain_scale" value="1.0"/>
  <param name="transform_tolerance" value="0.3"/>
  <param name="min_frontier_size" value="0.5"/>
  <param name="track_unknown_space" value="true"/>
</node>
</launch>
