<launch>
  <group ns="rtabmap">

    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
      <remap from="rgb/image"       to="/inter_img"/>
      <remap from="depth/image"     to="/depth_camera/depth/image_raw"/>
      <remap from="rgb/camera_info" to="/depth_camera/color/camera_info"/>
      <remap from="rgbd_image"      to="rgbd_image"/> <!-- output -->
      
      <!-- Should be true for not synchronized camera topics 
           (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
      <param name="approx_sync"       value="true"/> 
    </node>

    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
          <param name="frame_id" type="string" value="base_link"/>

          <param name="subscribe_depth" type="bool" value="false"/>
          <param name="subscribe_rgbd" type="bool" value="true"/>

          <remap from="odom" to="/odometry/filtered"/>

          <remap from="rgbd_image" to="rgbd_image"/>

          <param name="queue_size" type="int" value="1000"/>
          <!-- <param name="map_always_update" value="true"/>
          <param name="octomap_tree_depth" value="25"/> -->
          <!-- RTAB-Map's parameters -->
          <param name="RGBD/AngularUpdate"        type="string" value="0"/>
          <param name="RGBD/LinearUpdate"         type="string" value="0"/>
          <param name="RGBD/OptimizeFromGraphEnd" type="string" value="true"/>
    </node>
  </group>
   <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0.01 -0.070 1.57 3.14 0 base_link camera_link_optical 100" />
</launch>